* {
	padding: 0px;
	margin: 0px;
}

/* Override some stuff from text.css */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0;
}
li {
    margin-left: 0;
}

#header {
    border-bottom-color: #d4d4d4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#header .title a {
    font-size: 3em;
    text-decoration: none;
}

#header .links a {
    text-decoration: none;
}
#header .links ul {
    list-style-type: none;
}
#header .links li {
    float: left;
    margin-right: 1.5em;
    margin-left: 2px;
}

#content {
    min-height: 30em;
}

.breadcrumb {
    border-bottom-color: #dddddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

#content .albums_list_thumb .album_entry {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    padding-top: 5px;
    width: 102px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

#content .albums_list_thumb a {
    text-decoration: none;
}

#content .pictures_list_thumb .picture_entry {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    width: 100px;
}

#content .pictures_list_thumb a {
    text-decoration: none;
}

#content #map {
    border: 1px solid #CCCCCC;
    height: 10em;
    margin-bottom: 1em!important; /* important or it will be overrided by
                                     OpenLayers style.css */
}

#content #navigation {
    margin-bottom: 1em;
    height: 5em;
}

#content #navigation .thumb_for_nav {
    display: inline;
    width: 100px;
    margin-right: 1px;
}

#content #navigation .thumb_for_nav img {
    border: 3px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
}

#content #sizeList {
    margin-bottom: 1em;
}

#content #sizeList .listOfPhotoSizes td {
    width: 200px;
}

#content #exif #exifDatas {
    padding-left: 10px;
}

#footer {
    text-align: center;
    /*padding-top: 5px;*/
    border-top-color: #dddddd;
    /*margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 95%;*/
    border-top-width: 1px;
    border-top-style: solid;
}

.pictureName {
    font-size: 18px;
}