- if flash[:warning] or flash[:notice] or flash[:error] or (Picture.to_process.count > 0)
  .grid_16.breadcrumb
    - if flash[:warning]
      .flashWarning
    - else
      .flashNotice
    = flash[:warning] || flash[:notice]
    - if current_user
      - if current_user.role.title == "admin"
        - if Picture.to_process.count > 0
          Pictures to process:
          = Picture.to_process.count
  .clear
- else
  %br